html, body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

#root {
  width: 100%;
  height: 100%;
  margin: 0 auto;
}

body {
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

/* Đảm bảo canvas của PDF không bị tràn */
canvas {
  max-width: 100% !important;
  height: auto !important;
}